html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  scroll-behavior: smooth;
  background: #000;
  color: #0f0;
  line-height: 1.4;
  height:100vh;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.topnav {
  overflow: hidden;
  padding: 0 20px;
  background: rgba(0, 20, 0, 0.8);
  border-bottom: 2px solid #0f0;
}

.topnav a {
  color: #0f0;
  text-decoration: none;
  font-size: 14px;
  padding: 14px 16px;
  display: block;
  text-transform: uppercase;
}

.topnav a.active {
  background: rgba(0, 255, 0, 0.2);
  text-shadow: 0 0 8px #0f0;
}

#myLinks {
  display: none;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.topnav .icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #0f0;
  padding: 14px 16px;
  top: 30px;
}

.Hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  border-bottom: 2px dashed #0f0;
}

.description {
  flex: 1;
  min-width: 300px;
}

.description h1 {
  font-size: 28px;
  color: #ff0;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0 #006600;
  text-align: justify;
  text-justify: inter-word;
}

.description h2 {
  font-size: 22px;
  color: #0af;
  border-right: 4px solid #0f0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 12s steps(28, end) infinite,
    blink 0.75s step-end infinite;
}

.description p {
  font-size: 14px;
  color: #fff;
  margin: 20px 0;
  text-align:justify;
}
@keyframes typing {
  0% {
    width: 0;
  }

  35% {
    width: 27ch;
  }

  70% {
    width: 27ch;
  }

  100% {
    width: 0;
  }
}

@keyframes blink {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #FF4500;
  }
}
.description a {
  background: #421b8c;
  color: #e0da19;
  padding: 12px 24px;
  border: 2px solid #0f0;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}

.description a:hover {
  background: rgba(0, 255, 0, 0.1);
  text-shadow: 0 0 8px #0f0;
}

.image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.image img {
  max-width: 100%;
  border: 2px solid #0f0;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.Service {
   padding: 110px;
  margin: 18px;
  margin-bottom: 20px;
  border-bottom: 2px dashed #0f0;
  display: flex;
  flex-direction: column; 
 
  text-align:center;
}

.Service h1 {
  font-size: 26px;
 color: #0af;
  margin-bottom: 10px;
  padding:0;
  margin:0;
   text-align:center;
}

.Service h2 {
  font-size: 23px;
 color: #fff;
  margin-bottom: 40px;
  padding:0;
  margin:0;
}

.TechContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
}

.Tech {
  background: rgba(0, 10, 0, 0.8);
  border: 2px solid #0f0;
  padding: 20px;
  box-shadow: 4px 4px 0 #003300;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; 
  min-height: 280px;
}

.Tech h1 {
  font-size: 22px;
 color: #f0f;
  margin-top: 1rem;
  text-align: left;
}

.Tech h2 {
  font-size: 18px;
  color: #ff0;
  padding-left: 1.2rem;
  text-align:left;
}

.Tech p
{
  font-size:15px;
  color:#0f0;
  padding-left: 1.2rem;
  line-height: 1.6;
}


.skills-section {
  padding: 2rem 1rem;
  text-align: center;
  border-bottom: 2px dashed #0f0;
}

.section-header h1 {
  font-size: 26px;
  color: #0af;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 0 #006600;
}

.section-header p {
  font-size: 12px;
  color:#fff;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  margin-top:20px;
  margin-bottom:20px;
}

.badge-card {
  background: rgba(0, 10, 0, 0.8);
  border: 2px solid #0f0;
  color: #0f0;
  width: 320px;
  padding: 2rem 1.5rem;
  box-shadow: 4px 4px 0 #003300;
}
.icon-square {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-square img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.badge-card h1 {
  font-size: 22px;
  color: #f0f;
  margin-top: 1rem;
  text-align: left;
}

.badge-card h3 {
  font-size: 18px;
  color: #ff0;
  margin-top: 1.5rem;
  text-align: left;
}

.badge-card ul {
  font-size: 12px;
  color: #0f0;
  list-style-type: "> ";
  padding-left: 1.2rem;
}
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 2rem auto;
}

.Projects {
  padding: 2rem 1rem;
  text-align: center;
  border-bottom: 2px dashed #0f0;
}

.Projects h1 {
  font-size: 26px;
  color: #0af;
}

.Projects h2 {
  ont-size: 23px;
  color: #fff;
  text-shadow: 2px 2px 0 #006600;
}
.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.SlideBackground {
  background: #000;
  border: 2px solid #0f0;
  margin-bottom: 20px;
}

.top-text {
  color: #0f0;
  padding: 20px;
  border-bottom: 1px dashed #0f0;
}

.top-text h3 {
  font-size: 20px;
  color: #f0f;
}

.top-text p {
  font-size: 14px;
  color: #ff0;
}

.image-wrapper {
  background: #000;
  padding: 20px;
  margin: 20px;
  border: 2px solid #0f0;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px dashed #0f0;
}

.TechStack img {
  height: 30px;
  max-width: 100px;
  
  
}

.github-link a {
  color: #ffffff;
  background-color: #b71616;
  padding: 8px 16px;
  border: 2px solid #0f0;
  font-size: 12px;
  text-decoration: none;
  border-radius: 8px;
}

.github-link a:hover {
  background: rgba(0, 255, 0, 0.1);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #0f0 !important;
  font-weight: bold;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #0f0;
  z-index: 10;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background: rgba(0, 255, 0, 0.2);
}

  .chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  display:block;
  }

.chat-icon img
{
  height:70px;
  width:70px;
  max-width:100%;
  right:0px;
}

.chatbot-popup {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 1000;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  background: #4caf50;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbox {
  height: 200px;
  overflow-y: auto;
  padding: 20px;
  font-size: 8px;
  background: #000000;
}

.chatbox .user {
  color: yellow;
  margin: 5px 0;
}

.chatbox .bot {
  color: green;
  margin: 5px 0;
}

.chatbot-popup input[type="text"] {
  width: 50%;
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius:30px;
}

.chatbot-popup button {
  padding: 8px 10px;
  margin: 5px;
  gap:3px;
  background-color:rgba(red, green, blue, alpha);
}

.Send i
{
  color: Blue;
  font-size:17px;
  right:0px;

}

.Clear i
{
  color:Red;
  font-size:17px;
  right:7px;
}
 .FromContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    margin: 0 auto;
    min-height: 80vh;
    background: radial-gradient(circle at center, rgba(0,255,0,0.1), rgba(0,0,0,1));
  }

   .FromContainer form {
    background: rgba(0, 255, 0, 0.05);
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #0f0;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0,255,0,0.1);
  }

   .FromContainer h2 {
    color: #0f0;
    font-family: monospace;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

 .form-group input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0f0;
    border-radius: 8px;
    background: #000;
    color: #0f0;
    font-family: monospace;
    font-size: 14px;
    transition: 0.3s ease;
  }

.form-group  input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #0f0;
  }

 .form-group button {
    background: #0f0;
    color: #000;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
    transition: 0.3s;
  }

 .form-group button:hover {
    background: #fff;
    color: #000;
  }

  #status {
    margin-top: 15px;
    font-family: monospace;
    color: #0f0;
  }

.Footer {
  padding: 20px 50px;
  background: rgba(0, 20, 0, 0.8);
  border-top: 2px solid #0f0;
  text-align: center;
}

.social-icon {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 0;
      margin: 0;
    }

    .social-icon__item {
      display: inline-block;
    }

    .social-icon__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      color: #0f0;
      font-size: 24px;
      text-decoration: none;
      transition: 0.3s;
    }

    .social-icon__link:hover {
      background-color: #0f0;
      color: #000;
      transform: scale(1.1);
    }
.Footer p {
  color: #fff;
  margin: 15px 0 10px;
  font-size: 12px;
}

@media (max-width: 767px) and (max-height: 1000px) {
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #myLinks {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .topnav a:not(.icon) {
    width: auto;
  }

  .topnav .icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 0px;
  }

  .topnav .icon.close {
    display: none;
  }

  .topnav.show #myLinks {
    display: flex;
  }

  .topnav.show .icon.open {
    display: none;
  }

  .topnav.show .icon.close {
    display: block;
  }

  .Hero {
    flex-direction: column;
    text-align: center;
  }

  .description,
  .image {
    width: 100%;
  }

  .description h1 {
    font-size: 16px;
    white-space: normal;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .description h2 {
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin:0;
    padding:0;
    left:1;
  }

  .description p {
    font-size: 12px;
    white-space: normal;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .description a {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
.Service {
    padding: 10px;
    gap: 10px;
    flex-direction: column;
  }
  
.TechContainer {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  grid-template-columns: 1fr;
}

  .Service h1 {
    font-size: 20px;
  }

  .Service h2 {
    font-size:18px;
  }

  .Tech {
    width: 100%;
    padding: 16px;
    margin: 6px;
  }

  .Tech h1 {
    font-size: 18px;
  }
.Tech h2
{
  font-size:15px;
}
  .Tech p {
    font-size: 10px;
  }
  
  .card-container {
    flex-direction: column;
    align-items: center;
    padding:30px;
    max-width:100%;
    margin-top:20px;
    margin-bottom:20px;
  }

  .badge-card {
    width: 100%;
  }
  
.badge-card h1 {
  font-size: 22px;
}

.badge-card h3 {
  font-size: 15px;
  text-align:jusify;
}

.badge-card ul {
  font-size: 12px;
  }
  
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 70%;
    margin: 30px auto;
  }
  
  .SlideBackground {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 8px;

  }
.top-text {
    color: #030000;
    padding: 20px;
    text-align: center;
  }

  .top-text h3 {
    font-size: 16px;
    text-align:justify;
    padding:12px;
  }

  .top-text p {
    font-size: 12px;
    font-weight: 300;
    color:ff0;
  }
  
  .image-wrapper {
    background-color: #3d3a3a;
    padding: 10px;
    height: 100px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .TechStack img {
    height: 20px;
    max-width: 70px;
  }

  .github-link a {
    
    padding: 4px;
    max-width:8px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .github-link a:hover {
    background-color: #555;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: background-color 0.3s ease;
    user-select: none;
  }

  .prev {
    left: 2px;
  }

  .next {
    right: 2px;
  }
.FromContainer {
      padding: 30px 10px;
    }
    .FromContainer form {
      width: 90%;
      padding: px;
    }
   .form-group input, textarea {
      font-size: 13px;
    }
   .form-group button {
      width: 100%;
    }
  .Footer {
    width: 100%;
    min-height: 88px;
    padding: 16px 41px;
    align-items: center;
    text-align: center;
  }

  .social-icon {
    margin: 1px 2px;
    flex-wrap: wrap;
  }

  .social-icon__link {
    font-size: 15px;
    margin: 0 3px;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .Footer p {
    margin: 13px 0 8px 0;
    font-size: 12px;
    font-weight: 300;
  }

}

@media (min-width: 768px) {
  #myLinks {
    display: flex !important;
  }

  .topnav .icon {
    display: none;
  }
}
